[build-system]
# Minimum requirements for the build system to execute.
requires = [
	"setuptools",  # PEP 508 specifications.
	"wheel",       # PEP 508 specifications.
	"setuptools_scm",
	"numpy>=1.17",
]
